<h1>Nueva Serie</h1>

<%= form_with(model: @serie, url: series_path, local: true) do |form| %>
  <%= render 'shared/errors', object: @serie %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :synopsis %>
    <%= form.text_area :synopsis %>
  </div>

  <div>
    <%= form.label :director %>
    <%= form.text_field :director %>
  </div>

  <div>
    <%= form.submit "Crear Serie" , class: 'btn btn-warning' %>
    <%= link_to 'Volver atrás', series_path, class: 'btn btn-primary' %>
  </div>
<% end %>
